.nav {
	position: fixed;      /*Fixed Sidebar (stay in place on scroll and position relative to viewport) */
	height: 100%;
	width: 200px;     /* Set the width of the sidebar */
	z-index: 1;      /* Stay on top of everything */
	top: 0;      /* Stay at the top */
	background-color: #222; /* Black */
	overflow-x: hidden;     /* Disable horizontal scroll */
	text-align: right;
	margin: auto;
    vertical-align: middle;
}

.bod {
	height: 100%;
	width: calc(100% - 200px);
	margin-left: 200px;
	/*overflow-x: hidden;*/
	overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
	.nav {
		position: fixed;      /*Fixed Sidebar (stay in place on scroll and position relative to viewport) */
		height: 70px;
		width: 100%;
		bottom: 0;
		top: auto;
	}

	.bod {
		height: 100%;
		width: 100%;
		margin-left: 0px;
		overflow-y: scroll;
	}

}
