.nav {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.ul {
  margin-right: 30px;
  display: table-cell;
  vertical-align: middle;
  /*padding: 30px;*/
}

.li {
  margin: 50px 30px 50px 0px;
}

.a {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.35em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.a:before,
.a:after {
  border-radius: 0.2em;
  bottom: 0;
  content: "";
  height: 0.2em;
  position: absolute;
  right: 0;
  width: 100%;
}

.a:before {
  background: #466581;
}

.a:after {
  background-image: -moz-linear-gradient(to right, #012a4a, #618198);
  background-image: -webkit-linear-gradient(to right, #012a4a, #618198);
  background-image: -ms-linear-gradient(to right, #012a4a, #618198);
  background-image: linear-gradient(to right, #012a4a, #618198);
  -moz-transition: max-width 0.2s ease;
  -webkit-transition: max-width 0.2s ease;
  -ms-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
  max-width: 0;
}

.a:hover {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.active,
.active:hover {
  color: #ffffff;
}

.active:after,
.a:hover:after {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .li {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .li {
    width: 18%;
  }
  .a {
    font-size: 0.1em;
  }
}

/*Design inspired by aj@lkn.io | @ajlkn*/
