.wrapper  {
   /*margin-left: 50px;*/
}

.button {
	border-radius: 50px;
	margin: 0 20px 0 0;
}

.intro {
	height: 600px;
	display: table;
	background-image: url("../images/background.jpg");
}

.introCard {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px 20px;
    border-radius: 5px; 
}

.introContent {
	display: table;
}

.introLogo {
	width: 180px;
	height: 180px;
	display: table-cell;
    vertical-align: middle;
	padding: 5px;
}

.section {
	min-height: 500px;
	display: table;
}

.inner {
	padding: 50px;
	display: table-cell;
    vertical-align: middle;
}

.classCard {
	width: 1000px;
	padding: 10px;
	border: gray solid 0.025em;
	border-radius: 5px;
	overflow: hidden;
	transition: max-height 1s, color 0.2s, box-shadow 0.2s;
	display: table;
}

.classCard:hover {
	color: orange;
	box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.2);
}

.classCardThumbnail {
	display: table-cell;
}

.classCardImageContainer {
	position: relative;
	width: 320px;
	height: 180px;
}

.classCardTText {
	position: absolute;
	width: 80%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	color: white;
	letter-spacing: 0.2em;
}

.classCardTText:before, .classCardTText:after {
	border-radius: 0.2em;
	content: '';
	height: 0.2em;
	position: absolute;
	right: 10%;
	width: 80%;
	background-color: white;
}

.classCardTText:before {
  top: -20px;
}

.classCardTText:after {
  bottom: -20px;
}

.image {
	height: 100%;
	width: 100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.classCardContent {
    vertical-align: top;
	display: table-cell;
	padding: 0px 10px;
}

.classCardTitle {
	display: inline-block;
	margin: 0 15px 0 0;
}

.classCardDescription {
	font-size: 14px;
	color: darkgrey;
}



.instructorCard {
	display: inline-block;
	width: 300px;
	padding: 10px;
	border: gray solid 0.025em;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 1s, color 0.2s, box-shadow 0.2s;
}

.instructorCard:hover {
	color: orange;
	box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1250px) {
	.classCard {
		width: 100%;
		padding: 0;
	}

}

@media screen and (max-width: 830px) {
	.introLogo {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.classCardThumbnail {
		display: table-row;
	}
	.classCardContent {
	    vertical-align: top;
		display: table-cell;
		/*padding: 0px;*/
	}
}

@media screen and (max-width: 650px) {
	.inner {
		padding: 0;
		vertical-align: top;
	}
}

